* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mada", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
header {
  background: #fff;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
nav {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  display: flex;
  justify-content: space-between;
  z-index: 999;
}
.logo-size {
  height: 80px;
  margin-bottom: 0;
  margin-top: 4px;
  margin-left: 20px;
}
nav .list .items {
  list-style: none;
}
nav .nav-items {
  margin-left: 90px;
}
nav .list .items .item {
  display: inline-block;
  padding: 30px 20px;
}
nav .nav-items .items .item {
  padding: 30px 20px;
}
nav .nav-items .items .item a:hover {
  content: "";
  border-bottom: 3px solid #000;
  padding: 5px 5px;
  width: 100%;
}
nav .list .items .item a {
  text-decoration: none;
  color: #000;
}
nav ul li i {
  font-size: 23px;
}
nav .submenu-items {
  background: #fff;
  line-height: 50px;
  text-align: center;
  margin-left: 0px;
  color: black;
  position: absolute;
  margin-top: 10px;
  z-index: 99;
}
nav .submenu-item {
  list-style: none;
}
nav ul li:hover > ul {
  background-color: #fff;
}
nav ul ul {
  display: none;
}
nav ul li:hover > ul {
  display: block;
}
nav .responsive-button {
  display: none;
  right: 30px;
  position: absolute;
  top: 20px;
}
nav .responsive-button a {
  text-decoration: none;
  color: #000;
}
nav .responsive-button a i {
  font-size: 29px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 7px 12px;
}
.nav-responsive-active {
  display: block !important;
}
.social-media {
  margin-right: 10px;
}
/* nav close responsive */
/* Nav responsive */
@media all and (max-width: 850px) {
  nav {
    display: initial;
    padding: 5px 0px;
  }
  nav .nav-items {
    margin-left: -2%;
    text-align: center;
  }
  nav .responsive-button {
    display: block !important;
  }
  nav .nav-items .items .item {
    padding: 15px 0px;
  }
  .nav-items {
    display: none;
  }
  nav .nav-items .items .item {
    display: block;
  }
  .logo-size {
    margin-top: 15px;
  }
  .social-media {
    margin-left: 120px;
  }
  nav .submenu-items {
    background: #fff;
    line-height: 50px;
    text-align: center;
    margin-left: 20px;
    color: black;
    position: absolute;
    left: 55%;
    top: 40%;
  }
  nav ul ul li:hover {
    background: aqua;
  }
}
/* end here */

/* Footer Starts */
.footer-container {
  max-width: 1170px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}
.footer {
  background-color: #13304a;
  height: 100%;
}
footer .row {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0px 161px;
}
.footer h3 {
  color: #fff;
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
  padding-top: 100px;
}
.footer p,
.left-styled-para {
  color: white;
  font-size: 14px;
  opacity: 0.9;
  line-height: 25px;
  margin-top: 10px;
}
.inside-col {
  display: grid;
  grid-template-columns: auto auto auto;
}
.member-image {
  padding: 5px 30px 5px 0px;
}
.title .left-styled-para {
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}
.left-styled-para:before {
  content: "";
  position: absolute;
  background-color: rgb(55, 156, 244);
  width: 10px;
  height: 3px;
  top: 6px;
  margin-left: -25px;
  transition: 0.5s;
}
.para1:hover .left-styled-para:before {
  margin: 0 -18px;
}
.para2:hover .left-styled-para:before {
  margin: 0 -18px;
}
.para3:hover .left-styled-para:before {
  margin: 0 -18px;
}
.social-icon-links {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 100px;
}
.social a {
  text-decoration: none;
  color: #fff;
}
.social i {
  font-size: 20px;
}
.facebook {
  background-color: #3b5998;
  padding: 10px;
  width: 60px;
  height: 40px;
  text-align: center;
  border-radius: 3px 0 0 3px;
}
.twitter {
  background-color: #3b8aca;
  padding: 10px;
  width: 60px;
  height: 40px;
  text-align: center;
}
.instragram {
  background-color: #464646;
  padding: 10px;
  width: 60px;
  height: 40px;
  text-align: center;
}
.google-plus {
  background-color: #d7473d;
  padding: 10px;
  width: 60px;
  height: 40px;
  text-align: center;
  border-radius: 0 3px 3px 0;
}
.footer-divider {
  background-color: #fffff9;
  opacity: 0.9;
}
.footer-bootom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
/* Footer Ends */
/* Footer Responsive */
@media screen and (max-width: 1200px) {
  .footer {
    padding: 2%;
  }
}

@media screen and (max-width: 900px) {
  .footer .row {
    display: block !important;
  }
  .column {
    margin-bottom: 10px !important;
  }
}

@media screen and (max-width: 768px) {
  .page-nav {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    top: 95px;
  }
  .page-nav > ul > li {
    display: block;
    position: relative;
    color: blue;
    margin: 0px;
    padding: 2px;
  }
  .page-nav > ul {
    text-align: center;
    float: initial;
  }
  .mobile-nav {
    display: block !important;
    z-index: 999;
    margin: 10px;
  }

  .contact_us {
    display: initial !important;
  }
  .contact-input {
    width: 100% !important;
  }
  .contact-information {
    width: 100% !important;
  }
}
