body {
  background: #e6e6e6;
}
.corners {
  background: #fff;
  height: 500px;
  margin: 50px auto;
  max-width: 400px;
  line-height: 25px;
  position: relative;
  width: 80%;
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  padding-top: 40px;
  -webkit-box-shadow: 0 1px 7px hsla(0, 0%, 0%, 0.2);
  -moz-box-shadow: 0 1px 7px hsla(0, 0%, 0%, 0.2);
  box-shadow: 0 1px 7px hsla(0, 0%, 0%, 0.2);
}

/* Corner Effect */
.corners:after,
.corners:before {
  background: #e6e6e6;
  content: "";
  height: 50px;
  position: absolute;
  top: -25px;
  width: 100px;
  -webkit-box-shadow: 0 5px 10px -7px hsla(0, 0%, 0%, 0.5);
  -moz-box-shadow: 0 5px 10px -7px hsla(0, 0%, 0%, 0.5);
  box-shadow: 0 5px 10px -7px hsla(0, 0%, 0%, 0.5);
}
.corners:after {
  left: -50px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.corners:before {
  right: -50px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* pop up */
#modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  height: 100%;
  width: 100%;
}
.modalPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 50%;
  height: 90%;
  padding: 0 0 30px;
  -webkit-box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.2);
}
.modalContent {
  padding: 0 2em;
}

.returnToProfile {
  text-align: center;
  margin: 3em;
}
.returnToProfile a,
.returnToProfile a:visited {
  color: #ddd;
}
.returnToProfile a:hover {
  color: #fff;
}

.pop-up__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
  float: initial;
  margin-left: 39%;
  margin-top: 15px;
}
.popup-heading {
  font-weight: 700;
  color: #20247b;
  font-size: 45px;
  margin: 15px auto;
  padding-left: 15px;
  text-align: center;
}
.buttonStyle {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  background-color: transparent !important;
  border: 0 none;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
/* end pop uo */
