html,
body {
  font-family: "Raleway";
  font-size: 15px;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  left: 0;
  top: 0;
}

a {
  text-decoration: none;
  color: rgba(43, 54, 69, 0.7);
  font-weight: 500;
}

a:hover {
  color: #0072bb;
}

header ul {
  list-style-type: none;
}

.navbar .navbar-brand a {
  padding: 1rem 0;
  display: block;
  text-decoration: none;
}

.navbar-brand {
  font-size: 1.4rem;
  color: #0072bb !important;
  width: 120px;
  height: 80px;
  margin-bottom: 0px !important;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 2rem 1.2rem;
  font-size: 1.1rem;
  position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link.active {
  color: #0072bb;
}

.social_icon {
  display: inline-block;
  margin: 0 5px;
  padding: 2px;
  width: 40px;
  height: 35px;
  border: 2px solid #0072bb;
  box-sizing: border-box;
  transition: all 0.3s ease-in;
  background: #0072bb;
  border-radius: 5px;
  text-align: center;
}

.footer-about-read-more {
  color: white;
}

.social_icon .fa {
  color: white;
}

.social_icon:hover {
  background-color: #0072bb;
  cursor: pointer;
}

.fa-color {
  color: black;
}

.fab {
  color: white;
}

@media only screen and (max-width: 767px) {
  .navbar-nav a {
    font-size: 14px;
    font-weight: normal;
  }
  .social_icons {
    display: none;
  }
}

/* .navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  position: fixed;
} */
/*footer*/
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #13304a;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

footer .container .sec {
  margin-right: 30px;
}

footer .container .sec.aboutus {
  width: 40%;
}

footer .container .sec.aboutus h2 {
  position: relative;
  color: white;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .container .sec.quickLinks h2 {
  position: relative;
  color: white;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .container .sec.contact h2 {
  position: relative;
  color: white;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .container h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #0072bb;
}

footer p {
  color: #999;
}

.sci {
  margin-top: 20px;
  display: flex;
  margin-left: -30px;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.sci li a:hover {
  background: #f00;
}

.sci li a .fa {
  color: white;
  font-size: 20px;
}

.quickLinks {
  position: relative;
  width: 25%;
}

.quickLinks ul {
  margin-left: -30px;
}

.quickLinks ul li {
  list-style: none;
}

.quickLinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quickLinks ul li a:hover {
  color: #fff;
}

.contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.contact .info {
  position: relative;
  margin-left: -30px;
}

.contact .info li {
  display: flex;
  margin-bottom: 16px;
}

.contact .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.contact .info li span {
  color: #999;
}

.contact .info li a {
  color: #999;
  text-decoration: none;
}

.contact .info li a:hover {
  color: #fff;
}

.copyrightText {
  width: 100%;
  background: #fd3838;
  color: white;
}

@media (max-width: 991px) {
  footer {
    padding: 40px;
  }
  footer .container {
    flex-direction: column;
  }

  footer .container .sec {
    margin-right: 0;
    margin-bottom: 40px;
  }

  footer .container .sec.aboutus,
  .quickLinks,
  .contact {
    width: 100%;
  }

  .copyrightText {
    width: 100%;
    background: #18181818;
    padding: 8px 40px;
    text-align: center;
    color: #999;
  }
}
