<!DOCTYPE html>
<html lang="en">
<head>
  <title>(SVH)-Sacred Valley Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- import design -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Mada:wght@300;500;600;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- import css -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="./css/navFooter.css">
  <link rel="stylesheet" href="./css/navigation.css">
  <link rel="icon" href="./img/logo.jpg" />
</head>
<body>
  <header class="header">
    <nav class="navbar navbar-expand-lg  navbar-light bg-light fixed-top fw-bold">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="./img/logo.jpg" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                About Us
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="">About Team</a></li>
                <li><a class="dropdown-item" href="">About Hotel</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Rooms
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="">Standard Rooms</a></li>
                  <li><a class="dropdown-item" href="">Deluxe Rooms</a></li>
                  <li><a class="dropdown-item" href="">Family Rooms</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Restaurants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog' %}">Attraction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'gallery' %}">Tariff</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'gallery' %}">Package</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto social_icons">
            <div class="social_icon">
              <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
            <div class="social_icon">
              <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
            <div class="social_icon">
             <a href=""><i class="fa fa-facebook " aria-hidden="true"></i></a> 
            </div>
            <div class="social_icon">
              <a href="viber://chat/?number=+9779846695452"><i class="fab fa-viber " aria-hidden="true"></i></a> 
             </div>
          </ul>
        </div>
      </div>
    </nav>
  </header>
<section>
  <div id="modalOverlay">
    <div class="modalPopup">
      <div class="modalContent">
        <button class="buttonStyle" id="button">X</button>
        <div class="corners">
          <article>
              <h1>We’ll be back soon!</h1>
              <div>
                  <p>Sorry for the inconvenience but we’re performing some maintenance at the moment. If you need any help then please contact us on <a href="mailto:hotelthesacredvalleyhome@gmail.com">email</a> or whatsapp on +977-9846695452 <br>  otherwise we’ll be back online shortly!</p>
                  <p>Telephone number:- +977-01-5904512 , 01-5351063</p>
                  <p>Cell :- 9841382450 - Nabin Giri &nbsp; | &nbsp;9846695452 - Shiva Giri</p>
                  <p>E-mail: hotelthesacredvalleyhome@gmail.com</p>
                  <p>— Sacred Valley Home | A Boutique Hotel</p>
              </div>
          </article>
      </div>
      </div>
    </div>
  </div>
</section>
 <section class="home">
  <div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-controls">
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active" style="background-image:url('img/slide-1.jpg')"></li>
      <li data-target="#carousel" data-slide-to="1" style="background-image:url('img/slide-2.jpg')"></li>
      <li data-target="#carousel" data-slide-to="2" style="background-image:url('img/slide-3.jpg')"></li>
      <li data-target="#carousel" data-slide-to="3" style="background-image:url('img/IMG_7719.jpg')"></li>
      
    </ol>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
     <img src="img/left-arrow.svg" alt="Prev"> 
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <img src="img/right-arrow.svg" alt="Next">
  </a>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-image:url('img/slide-1.jpg')">
      <!-- <div class="container">
         <h2>Deluxe Family Room</h2>
         <button class="button-os"><a href="#">Book Now</a></button>
      </div> -->
    </div>
    <div class="carousel-item" style="background-image:url('img/slide-2.jpg')">
      <!-- <div class="container">
         <h2>Deluxe Double Room</h2>
         <button class="button-os"><a href="#">Book Now</a></button>
      </div> -->
    </div>
    <div class="carousel-item" style="background-image:url('img/slide-3.jpg')">
      <!-- <div class="container">
         <h2>RoofTop</h2>
         <button class="button-os"><a href="#">Book Now</a></button>
      </div> -->
    </div>
    <div class="carousel-item" style="background-image:url('img/IMG_7719.jpg')">
      <!-- <div class="container">
         <h2>RoofTop</h2>
         <button class="button-os"><a href="#">Book Now</a></button>
      </div> -->
    </div>
  </div>
</div>
</section>
<!-- Service -->
<div class="section-block-grey">
  <div class="container">
      <!-- <div class="section-heading center-holder">
          <h3>Doing the right thing at the right time</h3>
          <div class="section-heading-line"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              <br>incididunt ut labore et dolore magna aliqua.</p>
      </div> -->
      <div class="service-title">
        <h1>Why With Us</h1>
      </div>
      <div class="row mt-0">
          <div class="col-md-4 col-sm-12 col-12">
              <div class="serv-section-2">
                  <div class="serv-section-2-icon"> <i class="fas fa-people-carry"></i> </div>
                  <div class="serv-section-desc">
                      <h4>Family Environment</h4>
                      <h5>Family Run Business</h5> </div>
                  <div class="section-heading-line-left"></div>
              </div>
          </div>
          <div class="col-md-4 col-sm-12 col-12">
              <div class="serv-section-2 serv-section-2-act">
                  <div class="serv-section-2-icon serv-section-2-icon-act"> <i class="fas fa-bed"></i> </div>
                  <div class="serv-section-desc">
                      <h4>No Disturbance</h4>
                      <h5>95% no disturbance in Night</h5> </div>
                  <div class="section-heading-line-left"></div>
                 
              </div>
          </div>
          <div class="col-md-4 col-sm-12 col-12">
              <div class="serv-section-2">
                  <div class="serv-section-2-icon"> <i class="fas fa-utensils"></i> </div>
                  <div class="serv-section-desc">
                      <h4>Organic Food Serve</h4>
                      <h5>We Serve Pure Nepali Food</h5> </div>
                  <div class="section-heading-line-left"></div>
                  
              </div>
          </div>
      </div>
  <div class="row mt-60">
          <div class="col-md-4 col-sm-12 col-12">
              <div class="serv-section-2">
                  <div class="serv-section-2-icon"> <i class="fas fa-users"></i> </div>
                  <div class="serv-section-desc">
                      <h4>Friendly & Helpful Staff </h4>
                      <h5>We Make Your Stay Awesome</h5> </div>
                  <div class="section-heading-line-left"></div>
                  
              </div>
          </div>
          <div class="col-md-4 col-sm-12 col-12">
              <div class="serv-section-2 serv-section-2-act">
                  <div class="serv-section-2-icon serv-section-2-icon-act"> <i class="far fa-clock"></i> </div>
                  <div class="serv-section-desc">
                      <h4>24/7 Available </h4>
                      <h5>All time available </h5> </div>
                  <div class="section-heading-line-left"></div>
                 
              </div>
          </div>
          <div class="col-md-4 col-sm-12 col-12">
              <div class="serv-section-2">
                  <div class="serv-section-2-icon"> <i class="fas fa-map-marked"></i> </div>
                  <div class="serv-section-desc">
                      <h4> heritage & yoga class </h4>
                      <h5>It's near from our Property</h5> </div>
                  <div class="section-heading-line-left"></div>
                  
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Service End -->
<section>
  <div class="container">
    <div class="room-title">
      <h1 jus>Our Rooms</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum dicta qui atque iste dolorum, enim corrupti labore sequi eos delectus alias accusantium incidunt unde provident ducimus asperiores? Repudiandae, asperiores dignissimos!</p>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img class="w-1/2 h-full rounded-l-sm" src="https://bit.ly/2EApSiC" alt="Room Image" width="100%">
        <div class="p-4 pb-0 flex-1">
          <h3 class="font-light mb-1 text-grey-darkest">Standard Room</h3>
          <span class="text-5xl text-grey-darkest">$25.00</span>
          <div class="flex items-center mt-4">
            <div class="pr-2 text-xs">
              <i class="fas fa-wifi text-green"></i> Free WiFi
          </div>
          <div class="px-2 text-xs">
            <i class="text-grey-darker fas fa-prescription-bottle"></i> Free Mineral water 
          </div>
          <div class="px-2 text-xs">
            <i class="text-grey-darker fas fa-shower"></i> 24hrs hot Water 
          </div>
          <div class="px-2 text-xs">
            <i class="text-grey-darker fas fa-concierge-bell"></i> Room Service
          </div>
          <div class="px-2 text-xs">
            <i class="text-grey-darker fas fa-utensils"></i> Breakfast Included & many more
          </div>
          </div>
        </div>
        <div class="bg-grey-lighter p-3 flex items-center justify-between transition ">
            Book Now
            <i class="fas fa-chevron-right"></i>
        </div>
      </div>
      <div class="col-sm">
        <img class="w-1/2 h-full rounded-l-sm" src="https://bit.ly/2EApSiC" alt="Room Image" width="100%">
        <div class="p-4 pb-0 flex-1">
          <h3 class="font-light mb-1 text-grey-darkest">Deluxe Room</h3>
          <span class="text-5xl text-grey-darkest">$30.00</span>
          <div class="flex items-center mt-4">
            <div class="pr-2 text-xs">
              <i class="fas fa-wifi text-green"></i> Free WiFi
          </div>
          <div class="px-2 text-xs">
            <i class="text-grey-darker fas fa-prescription-bottle"></i> Free Mineral water 
          </div>
          <div class="px-2 text-xs">
            <i class="text-grey-darker fas fa-shower"></i> 24hrs hot Water 
          </div>
          <div class="px-2 text-xs">
            <i class="text-grey-darker fas fa-fan"></i> Air-Conditioner Room
          </div>
          <div class="px-2 text-xs">
            <i class="text-grey-darker fas fa-concierge-bell"></i> Room Service
          </div>
          <div class="px-2 text-xs">
            <i class="text-grey-darker fas fa-utensils"></i> Breakfast Included & many more
          </div>
          </div>
        </div>
        <div class="bg-grey-lighter p-3 flex items-center justify-between transition hover:bg-grey-light">
            Book Now
            <i class="fas fa-chevron-right"></i>
        </div>
      </div>
      <div class="col-sm">
        <img class="w-1/2 h-full rounded-l-sm" src="https://bit.ly/2EApSiC" alt="Room Image" width="100%">
        <div class="p-4 pb-0 flex-1">
          <h3 class="font-light mb-1 text-grey-darkest">Family Room</h3>
          <span class="text-5xl text-grey-darkest">$45.00</span>
          <div class="flex items-center mt-4">
              <div class="pr-2 text-xs">
                  <i class="fas fa-wifi text-green"></i> Free WiFi
              </div>
              <div class="px-2 text-xs">
                <i class="text-grey-darker fas fa-prescription-bottle"></i> Free Mineral water 
              </div>
              <div class="px-2 text-xs">
                <i class="text-grey-darker fas fa-shower"></i> 24hrs hot Water 
              </div>
              <div class="px-2 text-xs">
                <i class="text-grey-darker fas fa-fan"></i> Air-Conditioner Room
              </div>
              <div class="px-2 text-xs">
                <i class="text-grey-darker fas fa-concierge-bell"></i> Room Service
              </div>
              <div class="px-2 text-xs">
                <i class="text-grey-darker fas fa-utensils"></i> Breakfast Included & many more
              </div>
          </div>
        </div>
        <div class="bg-grey-lighter p-3 flex items-center justify-between transition hover:bg-grey-light">
            Book Now
            <i class="fas fa-chevron-right"></i>
        </div>
      </div>
    </div>
    <button class="view-more-room"><a href="#">Discover all rooms</a></button>
  </div>
</section>
    <!-- About us -->
    <section>
      <div class="container">
          <div class="about-section">
              <div class="inner-container">
                  <h1>About Us</h1>
                  <p class="text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus velit ducimus, enim inventore earum, eligendi nostrum pariatur necessitatibus eius dicta a voluptates sit deleniti autem error eos totam nisi neque voluptates sit deleniti autem error eos totam nisi neque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus velit ducimus, enim inventore earum, eligendi nostrum pariatur necessitatibus eius dicta a voluptates sit deleniti autem error eos totam nisi neque voluptates sit deleniti autem error eos<a class="element" href= "#">  Read More</a>
                  </p>
              </div>
          </div>
      </div>
  </section>
  <section>
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-237a587a-6358-47ed-b1b8-20437ebfb0db"></div>
  </section>
  <!-- Trip -->
  <section>
    <h1 class="Package">Get the best deals</h1>
	<a href="https://front.codes/" class="logo" target="_blank">
		<img src="https://assets.codepen.io/1462889/fcb.png" alt="">
	</a>	
<div class="row">
  <div class="col">
    <div class="section over-hide">
      <div class="container">
        <div class="row full-height justify-content-center">
          <div class="col-12 text-center align-self-center py-5">
            <div class="section text-center py-5 py-md-0">
                    <input class="pricing" type="checkbox" id="pricing" name="pricing"/>
                    <label for="pricing"><span class="block-diff">kayaking<span class="float-right">Trekking</span></span></label>
              <div class="card-3d-wrap mx-auto">
                <div class="card-3d-wrapper">
                  <div class="card-front">
                    <div class="pricing-wrap">
                      <h4 class="mb-5">Kayaking</h4>
                      <h2 class="mb-2"><sup>$</sup>39 / 4<sup>hrs</sup></h2>
                      <p class="mb-4">per person</p>
                      <p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
                      <p class="mb-4">Drina, Serbia</p>
                      <a href="#0" class="link">Choose Date</a>
                      <div class="img-wrap img-2">
                        <img src="https://assets.codepen.io/1462889/sea.png" alt="">
                      </div>
                      <div class="img-wrap img-1">
                        <img src="https://assets.codepen.io/1462889/kayak.png" alt="">
                      </div>
                      <div class="img-wrap img-3">
                        <img src="https://assets.codepen.io/1462889/water.png" alt="">
                      </div>
                      <div class="img-wrap img-6">
                        <img src="https://assets.codepen.io/1462889/Stone.png" alt="">
                      </div>
                        </div>
                      </div>
                  <div class="card-back">
                    <div class="pricing-wrap">
                      <h4 class="mb-5">Camping</h4>
                      <h2 class="mb-2"><sup>$</sup>29 / 8<sup>hrs</sup></h2>
                      <p class="mb-4">per person</p>
                      <p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
                      <p class="mb-4">Tara, Serbia</p>
                      <a href="#0" class="link">Choose Date</a>
                      <div class="img-wrap img-2">
                        <img src="https://assets.codepen.io/1462889/grass.png" alt="">
                      </div>
                      <div class="img-wrap img-4">
                        <img src="https://assets.codepen.io/1462889/camp.png" alt="">
                      </div>
                      <div class="img-wrap img-5">
                        <img src="https://assets.codepen.io/1462889/Ivy.png" alt="">
                      </div>
                      <div class="img-wrap img-7">
                        <img src="https://assets.codepen.io/1462889/IvyRock.png" alt="">
                      </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="section over-hide">
      <div class="container">
        <div class="row full-height justify-content-center">
          <div class="col-12 text-center align-self-center py-5">
            <div class="section text-center py-5 py-md-0">
                    <input class="pricing-I" type="checkbox" id="pricing-I" name="pricing-I"/>
                    <label for="pricing-I"><span class="block-diff-I">City Tour<span class="float-right">Tours</span></span></label>
              <div class="card-3d-wrap mx-auto">
                <div class="card-3d-wrapper">
                  <div class="card-front-I">
                    <div class="pricing-wrap-I">
                      <h4 class="mb-5">Kayaking</h4>
                      <h2 class="mb-2"><sup>$</sup>39 / 4<sup>hrs</sup></h2>
                      <p class="mb-4">per person</p>
                      <p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
                      <p class="mb-4">Drina, Serbia</p>
                      <a href="#0" class="link-I">Choose Date</a>
                      <div class="img-wrap-I img-2">
                        <img src="https://assets.codepen.io/1462889/sea.png" alt="">
                      </div>
                      <div class="img-wrap-I img-1">
                        <img src="https://assets.codepen.io/1462889/kayak.png" alt="">
                      </div>
                      <div class="img-wrap-I img-3">
                        <img src="https://assets.codepen.io/1462889/water.png" alt="">
                      </div>
                      <div class="img-wrap-I img-6">
                        <img src="https://assets.codepen.io/1462889/Stone.png" alt="">
                      </div>
                        </div>
                      </div>
                  <div class="card-back-I">
                    <div class="pricing-wrap-I">
                      <h4 class="mb-5">Camping</h4>
                      <h2 class="mb-2"><sup>$</sup>29 / 8<sup>hrs</sup></h2>
                      <p class="mb-4">per person</p>
                      <p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
                      <p class="mb-4">Tara, Serbia</p>
                      <a href="#0" class="link-I">Choose Date</a>
                      <div class="img-wrap-I img-2">
                        <img src="https://assets.codepen.io/1462889/grass.png" alt="">
                      </div>
                      <div class="img-wrap-I img-4">
                        <img src="https://assets.codepen.io/1462889/camp.png" alt="">
                      </div>
                      <div class="img-wrap-I img-5">
                        <img src="https://assets.codepen.io/1462889/Ivy.png" alt="">
                      </div>
                      <div class="img-wrap-I img-7">
                        <img src="https://assets.codepen.io/1462889/IvyRock.png" alt="">
                      </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
  </section>
  <footer>
    <div class="container">
      <div class="sec aboutus">
        <h2>About SVH Family</h2>
        <p>
          The Sacred Valley Home (Home of Brahmakumaris)  is the culmination of a long-held dream of the father of the Giri family, Nabin.  Nabin has been working in the tourist, hospitality and hotel industry since 1987.  He began as a trekking guide along the Annapurna and Everest trekking circuit, then as an assistant manager, and finally as the manager of al hotel in Thamel. <a class="footer-about-read-more" href="{% url 'about' %}">Read More</a>
        </p>
        <ul class="sci">
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="sec quickLinks">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'company_service' %}">Service</a></li>
          <li><a href="{% url 'blog' %}">Blog</a></li>
          <li><a href="{% url 'gallery' %}">Gallery</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </div>
      <div class="sec contact">
        <h2>Contact Info</h2>
        <ul class="info">
          <li>
            <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
            <span>Jyatha-17, Thamel
                       <br> Kathmandu-32</span>
          </li>
          <li>
            <span><i class="fa fa-phone" aria-hidden="true"></i></span>
            <p><a href="tel:01-5351063">+977-01-5351063</a></p>
          </li>
          <li>
            <span><i class="fa fa-phone" aria-hidden="true"></i></span>
            <p><a href="tel:9846695452">+977-9846 695 452</a></p>
          </li>
          <li>
            <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
            <p><a href="mailto: hotelthesacredvalleyhome@gmail.com">hotelthesacredvalleyhome@gmail.com</a></p>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <div class="copyrightText d-flex justify-content-between alight-items-center fw-bold">
    <p>Copyright Ⓒ  Sacred Valley Home | A Boutique Hotel. All rights reserved</p>
    <p>Design and Developed by Shiva Giri</p>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://kit.fontawesome.com/0406cb8796.js" crossorigin="anonymous"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<script src="./js/nav.js"></script>
<script src="./js/popup.js"></script>
</body>
</html>