<!DOCTYPE html>
<html lang="en">
<head>
  <title>(SVH)-Sacred Valley Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- import design -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Mada:wght@300;500;600;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- import css -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="./css/navFooter.css">
  <link rel="stylesheet" href="./css/navigation.css">
  <link rel="icon" href="./img/logo.jpg" />
</head>
<body>
  <header class="header">
    <nav class="navbar navbar-expand-lg  navbar-light bg-light fixed-top fw-bold">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="./img/logo.jpg" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                About Us
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="">About Team</a></li>
                <li><a class="dropdown-item" href="">About Hotel</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Rooms
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="">Standard Rooms</a></li>
                  <li><a class="dropdown-item" href="">Deluxe Rooms</a></li>
                  <li><a class="dropdown-item" href="">Family Rooms</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Restaurants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog' %}">Attraction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'gallery' %}">Tariff</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'gallery' %}">Package</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto social_icons">
            <div class="social_icon">
              <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
            <div class="social_icon">
              <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
            <div class="social_icon">
             <a href=""><i class="fa fa-facebook " aria-hidden="true"></i></a> 
            </div>
            <div class="social_icon">
              <a href="viber://chat/?number=+9779846695452"><i class="fab fa-viber " aria-hidden="true"></i></a> 
             </div>
          </ul>
        </div>
      </div>
    </nav>
  </header>
<section>
  <div id="modalOverlay">
    <div class="modalPopup">
      <div class="modalContent">
        <button class="buttonStyle" id="button">X</button>
        <div class="corners">
          <article>
              <h1>We’ll be back soon!</h1>
              <div>
                  <p>Sorry for the inconvenience but we’re performing some maintenance at the moment. If you need any help then please contact us on <a href="mailto:hotelthesacredvalleyhome@gmail.com">email</a> or whatsapp on +977-9846695452 <br>  otherwise we’ll be back online shortly!</p>
                  <p>Telephone number:- +977-01-5904512 , 01-5351063</p>
                  <p>Cell :- 9841382450 - Nabin Giri &nbsp; | &nbsp;9846695452 - Shiva Giri</p>
                  <p>E-mail: hotelthesacredvalleyhome@gmail.com</p>
                  <p>— Sacred Valley Home | A Boutique Hotel</p>
              </div>
          </article>
      </div>
      </div>
    </div>
  </div>
</section>
 <section class="home">
  <div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-controls">
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active" style="background-image:url('img/slide-1.jpg')"></li>
      <li data-target="#carousel" data-slide-to="1" style="background-image:url('img/slide-2.jpg')"></li>
      <li data-target="#carousel" data-slide-to="2" style="background-image:url('img/slide-3.jpg')"></li>
      
    </ol>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
     <img src="img/left-arrow.svg" alt="Prev"> 
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <img src="img/right-arrow.svg" alt="Next">
  </a>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-image:url('img/slide-1.jpg')">
      <div class="container">
         <h2>Deluxe Family Room</h2>
         <button class="button-os"><a href="#">Book Now</a></button>
      </div>
    </div>
    <div class="carousel-item" style="background-image:url('img/slide-2.jpg')">
      <div class="container">
         <h2>Deluxe Double Room</h2>
         <button class="button-os"><a href="#">Book Now</a></button>
      </div>
    </div>
    <div class="carousel-item" style="background-image:url('img/slide-3.jpg')">
      <div class="container">
         <h2>RoofTop</h2>
         <button class="button-os"><a href="#">Book Now</a></button>
      </div>
    </div>
  </div>
</div>
</section>
<!-- Service -->
<div class="section-block-grey">
  <div class="container">
      <!-- <div class="section-heading center-holder">
          <h3>Doing the right thing at the right time</h3>
          <div class="section-heading-line"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              <br>incididunt ut labore et dolore magna aliqua.</p>
      </div> -->
      <div class="service-title">
        <h1>Why With Us</h1>
      </div>
      <div class="row mt-0">
          <div class="col-md-4 col-sm-12 col-12">
              <div class="serv-section-2">
                  <div class="serv-section-2-icon"> <i class="fas fa-people-carry"></i> </div>
                  <div class="serv-section-desc">
                      <h4>Family Environment</h4>
                      <h5>Family Run Business</h5> </div>
                  <div class="section-heading-line-left"></div>
              </div>
          </div>
          <div class="col-md-4 col-sm-12 col-12">
              <div class="serv-section-2 serv-section-2-act">
                  <div class="serv-section-2-icon serv-section-2-icon-act"> <i class="fas fa-bed"></i> </div>
                  <div class="serv-section-desc">
                      <h4>No Disturbance</h4>
                      <h5>95% no disturbance in Night</h5> </div>
                  <div class="section-heading-line-left"></div>
                 
              </div>
          </div>
          <div class="col-md-4 col-sm-12 col-12">
              <div class="serv-section-2">
                  <div class="serv-section-2-icon"> <i class="fas fa-utensils"></i> </div>
                  <div class="serv-section-desc">
                      <h4>Organic Food Serve</h4>
                      <h5>We Serve Pure Nepali Food</h5> </div>
                  <div class="section-heading-line-left"></div>
                  
              </div>
          </div>
      </div>
  <div class="row mt-60">
          <div class="col-md-4 col-sm-12 col-12">
              <div class="serv-section-2">
                  <div class="serv-section-2-icon"> <i class="fas fa-users"></i> </div>
                  <div class="serv-section-desc">
                      <h4>Friendly & Helpful Staff </h4>
                      <h5>We Make Your Stay Awesome</h5> </div>
                  <div class="section-heading-line-left"></div>
                  
              </div>
          </div>
          <div class="col-md-4 col-sm-12 col-12">
              <div class="serv-section-2 serv-section-2-act">
                  <div class="serv-section-2-icon serv-section-2-icon-act"> <i class="far fa-clock"></i> </div>
                  <div class="serv-section-desc">
                      <h4>24/7 Available </h4>
                      <h5>All time available </h5> </div>
                  <div class="section-heading-line-left"></div>
                 
              </div>
          </div>
          <div class="col-md-4 col-sm-12 col-12">
              <div class="serv-section-2">
                  <div class="serv-section-2-icon"> <i class="fas fa-map-marked"></i> </div>
                  <div class="serv-section-desc">
                      <h4> heritage & yoga class </h4>
                      <h5>It's near from our Property</h5> </div>
                  <div class="section-heading-line-left"></div>
                  
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Service End -->
<section>
  <div class="container">
    <div class="room-title">
      <h1>Our Rooms</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum dicta qui atque iste dolorum, enim corrupti labore sequi eos delectus alias accusantium incidunt unde provident ducimus asperiores? Repudiandae, asperiores dignissimos!</p>
    </div>
    <!-- <div class="row">
    <div class="bg-white w-128 h-60 rounded shadow-md flex card text-grey-darkest">
      <img class="w-1/2 h-full rounded-l-sm" src="https://bit.ly/2EApSiC" alt="Room Image">
      <div class="w-full flex flex-col">
          <div class="p-4 pb-0 flex-1">
              <h3 class="font-light mb-1 text-grey-darkest">Deluxe Twin Room</h3>
              <span class="text-5xl text-grey-darkest">£63.00<span class="text-lg">/PPPN</span></span>
              <div class="flex items-center mt-4">
                  <div class="pr-2 text-xs">
                      <i class="fas fa-wifi text-green"></i> Free WiFi
                  </div>
                  <div class="px-2 text-xs">
                      <i class="text-grey-darker far fa-building"></i> 2mins to center
                  </div>
              </div>
          </div>
          <div class="bg-grey-lighter p-3 flex items-center justify-between transition hover:bg-grey-light">
              Book Now
              <i class="fas fa-chevron-right"></i>
          </div>
      </div>
    </div>
  </div> -->
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img class="w-1/2 h-full rounded-l-sm" src="https://bit.ly/2EApSiC" alt="Room Image" width="100%">
        <div class="p-4 pb-0 flex-1">
          <h3 class="font-light mb-1 text-grey-darkest">Deluxe Twin Room</h3>
          <span class="text-5xl text-grey-darkest">£63.00<span class="text-lg">/PPPN</span></span>
          <div class="flex items-center mt-4">
              <div class="pr-2 text-xs">
                  <i class="fas fa-wifi text-green"></i> Free WiFi
              </div>
              <div class="px-2 text-xs">
                  <i class="text-grey-darker far fa-building"></i> 2mins to center
              </div>
          </div>
        </div>
        <div class="bg-grey-lighter p-3 flex items-center justify-between transition hover:bg-grey-light">
            Book Now
            <i class="fas fa-chevron-right"></i>
        </div>
      </div>
      <div class="col-sm">
        <img class="w-1/2 h-full rounded-l-sm" src="https://bit.ly/2EApSiC" alt="Room Image" width="100%">
        <div class="p-4 pb-0 flex-1">
          <h3 class="font-light mb-1 text-grey-darkest">Deluxe Twin Room</h3>
          <span class="text-5xl text-grey-darkest">£63.00<span class="text-lg">/PPPN</span></span>
          <div class="flex items-center mt-4">
              <div class="pr-2 text-xs">
                  <i class="fas fa-wifi text-green"></i> Free WiFi
              </div>
              <div class="px-2 text-xs">
                  <i class="text-grey-darker far fa-building"></i> 2mins to center
              </div>
          </div>
        </div>
        <div class="bg-grey-lighter p-3 flex items-center justify-between transition hover:bg-grey-light">
            Book Now
            <i class="fas fa-chevron-right"></i>
        </div>
      </div>
      <div class="col-sm">
        <img class="w-1/2 h-full rounded-l-sm" src="https://bit.ly/2EApSiC" alt="Room Image" width="100%">
        <div class="p-4 pb-0 flex-1">
          <h3 class="font-light mb-1 text-grey-darkest">Deluxe Twin Room</h3>
          <span class="text-5xl text-grey-darkest">£63.00<span class="text-lg">/PPPN</span></span>
          <div class="flex items-center mt-4">
              <div class="pr-2 text-xs">
                  <i class="fas fa-wifi text-green"></i> Free WiFi
              </div>
              <div class="px-2 text-xs">
                  <i class="text-grey-darker far fa-building"></i> 2mins to center
              </div>
          </div>
        </div>
        <div class="bg-grey-lighter p-3 flex items-center justify-between transition hover:bg-grey-light">
            Book Now
            <i class="fas fa-chevron-right"></i>
        </div>
      </div>
    </div>
  </div>

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://kit.fontawesome.com/0406cb8796.js" crossorigin="anonymous"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<script src="./js/nav.js"></script>
<script src="./js/popup.js"></script>
</body>
</html>